name: Build the service and deploy
on: push
jobs:
    version-identifier:
        runs-on: ubuntu-latest
        steps:
          - name: set version identifier
            run: echo "VERSION_IDENTIFIER=0.1.${GITHUB_RUN_NUMBER}_${GITHUB_RUN_ATTEMPT}_${GITHUB_SHA:0:7}" | tee $GITHUB_ENV
        outputs:
          version_identifier: ${{ env.VERSION_IDENTIFIER }}
